.navbar .btn{
	background-color: #ca3542;
	border: none;
	border-radius: 0;
	height: 35px;
}
.navbar input{
	border: none;
	border-radius: 0;
	height: 35px;
}
.navbar img{
	margin-right: 10px; 
}
.carousel-item {
	height: 635px;
}
.carousel-item .display-4 {
	margin-top: -400px;
}
.carousel-item .btn {
	background-color: #ca3542;
	border: none;
	border-radius: 0;
}
.carousel-item hr{
	background-color: #ca3542;
	width: 70px;
	border-width: 3px;
}
.carousel-item .menu{
	font-color: #333c3e 
}
.carousel-item-control {
	animation-timing-function: 3s;
}
.kolom-order{
	width: 300px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 20px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0 5px 5px #ca3542;
}
.kolom-order h3{
	font-size: 15px;
	margin-bottom: 15px;
	color: black;
}
.kolom-order h2{
	font-size: 20px;
	color: black;
}
.footer{
	background-color: #ca3542;
	height: 250px;
}
.footer h1{
	color: white;
}
.footer p{
	color: white;
}